<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--    开启注解    一般不要跟系统的包一致  也不要过短-->
   <context:component-scan base-package="com.vip.spring"/>
    <!--  Class.forName("包名+类名")-->
    <!--    </bean>--><!--    <bean id="app" class="com.vip.spring.App">-->
    <!-- lazy-init 什么 时候用 spring 容器去实例化-->
<!--    <bean id="user" class="com.vip.spring.entity.User" lazy-init="false">-->

<!--    </bean>-->
<!--    scope
  可选值   property   每次都是重新创建对象
          singleton  单例模式
  -->
<!--    <bean id="user1"  class="com.vip.spring.entity.User" scope="singleton"></bean>-->
<!--
  init   表示对象创建完成(调用完构造方法之后第一个执行的方法)
  destory   表示spring容器销毁对象之前调用方法
-->
<!--    <bean id="user2" class="com.vip.spring.entity.User" init-method="init" destroy-method="close"></bean>-->

    <bean id="user" class="com.vip.spring.entity.User" scope="prototype">
        <!--
        构造方法
        index  表示构造方法参数的位置
        value  如果是基本类型 直接赋值
        ref    如果是复杂类型必须使用ref = "id"(依赖的对象必须在容器注册)
        name   通过构造方法参数的名字来赋值
        -->
<!--        <constructor-arg index="0"  value="1" />-->
<!--        <constructor-arg index="1" value="hehe"/>-->
        <constructor-arg ref="address"  name="address"/>
    </bean>

    <bean id="user2" class="com.vip.spring.entity.User">
        <property name="name" value="小明"/>
        <property name="uid" value="1"/>
        <property name="address" ref="address"/>
    </bean>

    <bean id="address" class="com.vip.spring.entity.Address" p:aid="1">
<!--            <property name="detail" value="广州市四季酒店"/>-->
    </bean>
<!--    根据属性的名字   byType  -->  Address address
<!--    <bean id="user3" class="com.vip.spring.entity.User" autowire="byName"></bean>-->



</beans>